.table {
  width: 50%;
  margin: 0 auto;
  border: 2px solid var(--primary-color);
  padding: 20px 32px;
}
table {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
th {
  text-align: left;
}
tbody tr td {
  margin-top: 5px;
}
.book-now-button {
  float: right;
}
.pc-loading-skeleton {
  height: 20px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  background-color: var(--secondary-color-low-opacity);
}
tbody tr {
  height: 30px;
}
.card {
  border: 2px solid var(--primary-color);
  background-color: var(--secondary-color);
}
.card:hover .image-card {
  margin-top: -30px;
  transition: 0.5s;
  filter: none;
}
.card:hover .card-details {
  transition: 0.5s;
  height: auto;
  overflow: visible;
}
.image-card {
  box-shadow: none;
  filter: grayscale(100%);
}
.card-details {
  height: 0;
  overflow: hidden;
}
