.table {
  width: 50%;
  margin: 0 auto;
  border: 2px solid var(--primary-color);
  padding: 20px 32px;
}
table {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
th {
  text-align: left;
}
tbody tr td {
  margin-top: 5px;
}
.book-now-button {
  float: right;
}
.pc-loading-skeleton {
  height: 20px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  background-color: var(--secondary-color-low-opacity);
}
tbody tr {
  height: 30px;
}
